/packages
/*.suo
/Sundy.Net.Http/obj
/Sundy.Net.Http/bin
/Sundy.Net.Http/*.user
/Sundy.Web.Http/obj
/Sundy.Web.Http/bin
/Sundy.Web.Http/*.user
/packages/DotNetOpenAuth.OpenId.RelyingParty.4.1.4.12333
/packages/DotNetOpenAuth.AspNet.4.1.4.12333
/packages/DotNetOpenAuth.Core.4.1.4.12333
/packages/DotNetOpenAuth.OAuth.Consumer.4.1.4.12333
/packages/DotNetOpenAuth.OAuth.Core.4.1.4.12333
/packages/DotNetOpenAuth.OpenId.Core.4.1.4.12333
